#layoutContainer{
	position: relative;
	overflow: hidden;
	width: 1300px;
	min-height: 900px;
	background-image: url("/images/layout/background.png");
	background-repeat: repeat;

/*	display: flex;
    min-height: 100vh;
    flex-direction: column;*/
	
}

#footer{
	width: 1300px;
	background-image: url("/images/layout/background.png");
	margin-bottom: -20px
}


#firstBoard{
	position: relative;
	display: inline-block;
	width:1260px;
	min-height: 800px;
	overflow:hidden; 
}

#rightBoard{
	position: relative;	
	display: inline-block;
	display: none;
	margin-left: 1300;
	width:0px;
	min-height: 800px;
	overflow:hidden; 
	background-color: rgba(0, 0, 0, 0.3);
}










