#yongNingWard_Container{
}

#yongNing_picture{
	margin-top: 30px;
	margin-left: 50px;
	height: 300px;
	background-image: url("/images/yongNingWard/yongNingWard.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#iconBox{
	position: relative;
	padding-top: 50px;
	padding-left: 100px;
	height: 300px;
}
