

#map_wrapper{
	position: relative;	
	display: inline-block;
	vertical-align: top;
	width:400px;
	height: 500px; 
	

	background-image: url("/images/layout/changAn.png");
	background-repeat: no-repeat;
	background-size:auto 100%;

}

#introduction{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 600px;
	background-color: #FFA319;
	border-radius: 10px;
}