#sidebar{
	width: 200px;
	position: absolute;
}

#map_wrapper{
	position: relative;
	width: 600px;
	height: 800px; 
	background-image: url("/images/layout/changAn.png");
	background-size: 100% auto;
	background-color: green;
}

#introduction{
	width: 600px;
	margin-left: 800px;
	background-color: red;
}