#yongning_video{
	position: absolute;
	margin-top:80px;
	margin-left: 250px;
	width: 450px;
}
#yongNing_avi{

	

}

#i_yongNing_avi{



}

#itemView{
	position: absolute;
	margin-top: 80px;
	margin-left: 700px;
	height: 500px;
	width: 400px;
	background-color: white;
	border-radius: 10px;
}