#yongNing_animation_wrapper{
	position: absolute;
	width:1270px;
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 800px;
}

#yongNing_avi{
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#i_yongNing_avi{
	position: absolute;
	margin-top: 310px;
	margin-left: 20px;
}

#itemView{
	position: absolute;
	margin-top: 20px;
	margin-left: 480px;
	height: 480px;
	width: 300px;
	background-color: white;
	border-radius: 10px;
}